<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>srvapp</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbURL</param-name>
    <param-value>jdbc:myswl://localhost/mysqlDB</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>mysqlUser</param-value>
  </context-param>
  <context-param>
    <param-name>dbUserPass</param-name>
    <param-value>mysqlPass</param-value>
  </context-param>
</web-app>